<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manduin"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.tourism.TourismActivity"
            android:exported="false" />
        <activity
            android:name=".ui.news.AllNewsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcGL64H6dBzyvWxF6m3AlB5hsd78mL9P8" />

        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".ui.detail.DetailPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashscreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboard.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>